.container{
    max-width: 15rem;
    margin: 0 20px 20px 0;
    cursor: pointer;
    transition: all ease-in 100ms;
}
.container:hover{
    transform: scale(1.1);
}

.container.grid{
    width: 45%;
}
.container.list{
    width: 90%;
}

.thumbnail{
    width: 100%;
}

.metadata{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: rgb(233, 233, 233);
}

.channel{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: rgb(138, 138, 138);
}


@media screen and (max-width: 48rem) {
    .container{
        max-width: none;
    }
    .container.grid{
        width: 100%;
    }
    .video{
        display: flex;
    }
    .metadata{
        width: 100%;
        padding-left: 1rem;
    }
    .title{
        white-space:pre-wrap;
        color: rgb(233, 233, 233);
        text-align: start;
    }
    .channel{
        text-align: start;
    }
}
  