.main{
    height: 100vh;
    background-color: rgb(40, 40, 40);
}

.content {
    margin-top: 3.5rem;
    background-color: rgb(30, 30, 30);
    display: flex;
}

.detail {
    flex: 1 1 60%;
}

.list {
    z-index: 0;
    flex: 1 1 15%;
    margin-right: 25%;
}

.communication{
    position: fixed;
    top: 3.5rem;
    left: 75%;
    width: 25%;
    height: calc(100vh - 3.5rem - 2px);
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 48rem) {
    .content {
        flex-direction: column;
    }
    .communication{
        position:static;
    }
}
  