.partnerMenu{
    z-index: 2;
    position: absolute;
    top: calc(3.5rem - 1px);
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    width: 20rem;
    border: 1px solid rgb(80, 80, 80);
    
    border-top: none;
    border-radius: 0 0 3px 3px;
    background-color: rgba(40, 40, 40)
}

.image{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.title{
    font-size: 1rem;
    font-weight: 300;
    color: white;
    margin-bottom: 0.5rem;
}
.description{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}
.btn:hover{
    background-color: rgb(80, 80, 80);
}
.icon{
    color: white;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.horizontal{
    width: 100%;
    height: 1px;
    background-color: rgb(80, 80, 80);
    margin-bottom: 0.5rem;
}
